* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.main-app {
    position: relative;
    padding: 20px 40px;
    width: 800px;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 15px black;
    color: #fff;
    /* background: linear-gradient(to right, #0acffe 0%, #495aff 100%); */
    background-image: url(./img/City.jpg);
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(3px);
    background: transparent;
}

.bg-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -3;
}

.title {
    margin: 20px;
    text-align: center;
}

.upper-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    
}


.upper-body label {
    display: inline-block;
    width: 100%;
    font-size: 20px;
}

.city-search {
    padding: 5px 8px;
    margin: 10px auto;
    width: 40%;
    background: none;
    color: #fff;
    font-size: 24px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(244, 244, 247)
}

.search-btn {
    margin-left: 10px;
    padding: 8px 14px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(3, 3, 3);
    border: none;
    color: #fff;
    background-color: #0202023d;
    text-transform: uppercase;
    transition: transform .3s;
    cursor: pointer;
}

.search-btn:hover {
    transform: scale(1.1);
}

.city-result {
    margin-top: 20px;
    font-size: 45px;
    
}

.date {
    margin-bottom: 10px;
    font-size: 19px;
}

.image-box {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box .temp {
    font-size: 50px;
    margin-right: 20px;
}

.image-box img {
    width: 110px;
}

.lower-body {
    margin: 40px auto 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

